.bgc {
  position: relative;
  height: 100vh;
  width: 100%;
  &::after {
    content: '';
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-image: url('../../assets/imgs/login_flag.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    left: 0;
  }
}
